*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

.title {
    display: flex;
}

.title h1 {
    margin: 20px auto;
}

#container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}

#container .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 650px;
    flex-basis: 280px;
    border-radius: 10px;
}

.card-inner-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.img #first-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -75px;
    justify-content: center;
}

#name .name {
    display: flex;
    flex-direction: column;
}


#name .name h2 {
    color: rgb(99, 98, 98);
    font-weight: bold;
    margin: 0;
}

#name .oscar-nominated h6 {
    color: rgb(228, 197, 22);
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
    margin: 15px;
}

#name .oscar-winner h6 {
    color: green;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
    margin: 15px;
}


#movie-info {
    display: flex;
    gap: 16px;
}

.movie-img>img {
    height: 131px;
    width: 90px;
}

#movie-info .movie-description {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#movie-info .movie-description h4 {
    color: rgb(48, 47, 47);
}


#movie-info .star {
    display: flex;
}

#movie-info .star img {
    height: 20px;
    width: 20px;
}

.movie-description p {
    color: grey;
}

#imdb {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
}

#imdb>img {
    height: 25px;
}

#actor-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#actor-description h4 {
    margin-top: 0px;
    color: rgb(88, 88, 88);
}

#actor-description>p {
    color: rgb(118, 116, 116);
}

#award {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#award .img-award {
    display: flex;
}

#award .img-award img {
    width: 30px;

}

#award .award-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    line-height: 1.4;
    padding-left: 2em;
}

#award .award-info .nominations {
    color: rgb(228, 197, 22);
}

#award .award-info .wins {
    color: green;
}